.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: var(--light-color);
    border-radius: var(--element-border-radius);
    padding: 2em;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: inherit;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 5%;
    width: 1.7em;
    height: 1.7em;
    box-shadow: 0px var(--button-height) 0px 0px var(--dark-color);
    background: transparent;
    border: 2px solid #333;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: var(--dark-color);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.close-btn:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

.modal input,
.modal button {
    margin: 1em auto;
}

.update-profile {
  display: flex;
  flex-direction: column;
  gap: .5em;  
}

.update-profile label input {
  margin: .5em auto;  
}


